window {
    	margin: 2px;
	font-family: DejaVu Sans Mono;
	border: 3px solid rgb(102, 102, 255);
	border-radius: 7px;
	background: @background;
}

#input {
	margin-bottom: 5px;
	border: none;
	border-radius: 7px;
	background: transparent;
}

#inner-box {
}

#outer-box {
}

#scroll {
	margin-bottom: 3px;
}

#text {
	margin: 3px;
	background: transparent;
	color: @light;
}

#img {
	margin-right: 6px;
	margin-left: 3px;
}

#text:selected {
	color: #000000;
}

#entry:selected {
	background: rgba(153, 204, 255, 0.6);
	border-radius: 6px;
	margin-left: 4px;
	margin-right: 4px;
}

#img {
	background: transparent;
}

/* Nord */
@define-color background rgba(0, 0, 26, 0.4);
@define-color light #eceff4;
@define-color dark #2e3440;

/* Gruvbox */
/*@define-color background rgba(40, 40, 40, 0.9);
@define-color light #ebdbb2;
@define-color dark #282828;*/
